
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.propertie
.idea/
*.iml

.gradlele/


/app/build/
/build/


app/build/reports/
app/build/outputs/


.idea/.name
.idea/androidTestResultsUserPreferences.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/migrations.xml
*.class
*.dex
*.apk
*.ap_   # intermediate dex files
*.javadoc
.gradle-*.log
.idea/
*.iml
*.ipr
*.iws
*.log
*.tmp
*.swp
*.env
*.properties
.DS_Store
Thumbs.db


